.apex-coding,
.apex-consulting {
  color: white;
  min-height: 100vh;
  padding: 8rem 0 2rem;

  .document {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2rem;
    overflow: hidden;

    > *:not(:first-child) {
      margin-top: 2rem;
    }

    .explanation {
      padding: 0 2rem;
    }

    .text {
      padding: 2rem;
    }

    .h0 {
      letter-spacing: 1px;
      margin: 0;
      text-shadow: 0 0.25rem 0.5rem black;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.08);
      padding: 2rem;

      .back {
        position: absolute;
        left: 2rem;
        padding: 0 1rem;
        border-radius: 1rem;
      }
    }

    .list {
      padding: 0 2rem;
    }

    ul {
      margin: 0;
      li {
        margin: 1rem 0;
      }
    }

    iframe {
      width: 100%;
      height: 500px;
    }

    .google-doc-iframe {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .google-doc-button,
    .google-doc-iframe {
      margin-top: 20px;
    }
  }

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
  }

  .bullet-points-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .google-doc-container {
    flex: 1;
    margin-left: 20px;
  }

  .google-doc-embed {
    margin-top: 20px;
  }

  .google-doc-button {
    margin-top: 20px;
  }

  .click-to {
    padding: 20px;
  }

  .desktop-paragraph,
  .desktop-bullet-points,
  .desktop-google-doc {
    display: block;
  }

  .mobile-paragraph,
  .mobile-bullet-points {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .desktop-paragraph,
    .desktop-bullet-points,
    .desktop-google-doc {
      display: none;
    }

    .mobile-paragraph,
    .mobile-bullet-points {
      display: block;
    }

    .description-container,
    .bullet-points-container {
      padding: 0 20px;
    }
  }
}
